<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.andrei.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HelloFragmentsActivity"
            android:label="@string/title_activity_hello_fragments"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TestTabbedActivity"
            android:label="@string/title_activity_test_tabbed"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.DrawerTestAActivity"
            android:label="@string/title_activity_drawer_test_a"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.Course5Act1B"
            android:label="@string/title_activity_course5_act1_b"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Course5Act1A"
            android:label="@string/title_activity_course5_act1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Course5Challange1B"
            android:label="@string/title_activity_course5_challange1_b"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Course5Challenge1A"
            android:label="@string/title_activity_course5_challenge1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FragmentTestActivity"
            android:label="TestActivity" />
    </application>

</manifest>